header{
    width: 100%;
    font-family: "Josefin Sans", Arial, sans-serif;

}

.head{
    background-color: #333;
    color: white;
    padding: 30px;
}

nav{
    display: flex;
    width: 100%;
    margin-top: 2px;
}

nav .link{
    text-decoration: none;
    color: black;
    flex: 1;
    background-color: #dedede;
    padding: 14px 17px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
}

nav .link:first-child{
    margin-left: 0;
}

nav .link:last-child{
    margin-right: 0;
}

nav .link:hover {
    background-color: #ccc;
    color: black;
}



