@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins{
    font-family: 'Poppins', arial, helvetica, sans-serif;
}

h1{
    font-family: 'Poppins', arial, helvetica, sans-serif;
}

/*------------------------------- NavBar--------------------------- */
.nav-bg{
    background-color: #2B2B2B
}
.nav-bg:hover{
    background-color: #ccc;
    color: black;
}
header{
    background-color: #202020;;
}
/* ---------------------------------------------------------------- */

main{
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2rem;
}